<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MyDemoApp Test Suite" verbose="1">

    <test name="Catalog Tests">
        <classes>
            <class name="com.automation.tests.CatalogTest"/>
        </classes>
    </test>

    <test name="Product Detail Tests">
        <classes>
            <class name="com.automation.tests.ProductDetailTest"/>
        </classes>
    </test>

    <test name="Cart Tests">
        <classes>
            <class name="com.automation.tests.CartTest"/>
        </classes>
    </test>

    <test name="Login Tests">
        <classes>
            <class name="com.automation.tests.LoginTest"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="com.automation.tests.CheckoutTest"/>
        </classes>
    </test>

    <test name="End To End Tests">
        <classes>
            <class name="com.automation.tests.EndToEndTest"/>
        </classes>
    </test>

</suite>
